<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your Page Description." />
    <title>{% block title %}(title goes here){% endblock %}</title>

    <link href="/css/app.css" rel="stylesheet" />
</head>
<body>


    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
            <ul class="vertical medium-horizontal menu dropdown" data-dropdown-menu>
                <li class="menu-text"><a href="/" rel="home">{{ config.title }}</a></li>
                <li class="has-submenu">
                    <a href="#">One</a>
                    <ul class="submenu menu vertical" data-submenu>
                        <li><a href="#">sub One One</a></li>
                        <li><a href="#">sub Two</a></li>
                        <li><a href="#">sub Three</a></li>
                    </ul>
                </li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><input type="search" placeholder="Search"></li>
                <li><button type="button" class="button">Search</button></li>
            </ul>
        </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        {% block content %}(content goes here){% endblock %}

        </div>

    </div>

    <footer>
        <div class="container">
            &copy; Company 2016
        </div>
    </footer>

    <!-- Scripts at the bottom for improved performance. -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>