
    <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <script src="view/js/jquery.js"></script>
    <script src="view/js/bootstrap.js"></script>

  </body>
</html>
